@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Calibri;
        margin: 0;
    }
    body {
        margin: 0;
        background: white;
    }
}
